<%- include('../dashboard/partials/navbar') %>
<nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a href="/admin/dashboard" class="text-decoration-none">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">MANAGE HOSTEL : <%= hosteldata.hostel_name %></li>
  </ol>
</nav>
<div class="container">
   <h4>BLOCK DETAILS</h4>
  <hr>
  <table class="table">
    <tbody>
      <thead>
        <tr>
          <th>BLOCK</th>
          <th>TYPE OF BLOCK (AC/NON-AC)</th>
          <th>TYPE OF BED ROOMS AVAILABLE</th>
          <th>BED TYPE</th>
          <th>MESS CATERER</th>
          <th>VEG MESS FLOOR</th>
          <th>NON VEG MESS FLOOR</th>
          <th>SPECIAL MESS FLOOR</th>
          <th>BADMINTON COURT</th>
          <th>IN-BLOCK CHOTA DHOBI FACILITY</th>

        </tr>
      </thead>

      <tr>
        <td><%= hosteldata.hostel_name %></td>
        <td><%= hosteldata.hostel_type %></td>
        <td><%= hosteldata.bed_availability %></td>
        <td><%= hosteldata.bed_type %></td>
        <td><%= hosteldata.mess_caterer %></td>
                
<td><%= hosteldata.veg_mess_floor %></td>

                        <td><%= hosteldata.non_veg_mess_floor %></td>
        <td><%= hosteldata.special_mess_floor %></td>
                <td><%= hosteldata.badminton_court %></td>

                        <td><%= hosteldata.chota_dhobi_facility %></td>


        <td></td>
      </tr>
    </tbody>
  </table>
  <h4>FLOOR PLANS</h4>
    <a href="/admin/<%=hosteldata.hostel_id %>/new-floor" class="btn btn-outline-primary">Add New Floor</a>

  <hr>
  <table class="table">
    <tbody>
      <thead>
        <tr>
         
          <th>FLOOR</th>
          <th>VIEW FLOOR PLAN</th>
          <th colspan="2">ACTION</th>
        </tr>
      </thead>
<% if(floordata && floordata.length>0){ %>
  <% floordata.forEach(function(floordata){ %>
      <tr>
        
      <td><%= floordata.floor %></td>
      <td><a href="<%= floordata.link %>" target="_blank"><i class="bi bi-eye-fill"></i></a></td>
      <td><a class="btn btn-outline-success" href="/admin/manage-hostel/<%= hosteldata.hostel_id %>/modify-floor/<%= floordata.id %>"><i class="bi bi-pencil-square"></i></a></td>
      <td><a class="btn btn-outline-danger" href="/admin/delete-floor/<%= hosteldata.hostel_id %>/<%= floordata.id %>"><i class="bi bi-trash3-fill"></i></a></td>

    </tr>
      <% }) %>
      <% } %>
    </tbody>
<form action="/save-room-details" method="POST" enctype="multipart/form-data">
<table class="table">
  <tr>
    <td rowspan="2"><b>ROOM TYPE</b></td>
    <td colspan="3"><b>PRICE (INDIAN)</b></td>
    <td colspan="3"><b>PRICE (NRI)</b></td>

    <td rowspan="2"><b>IMAGE</b></td>
    <td rowspan="2"><b>ACTION</b></td>
  </tr>
  <tr>
    <td><b>VEG MESS</b></td>
    <td><b>NON VEG MESS</b></td>
    <td><b>SPECIAL MESS</b></td>
      <td><b>VEG MESS</b></td>
    <td><b>NON VEG MESS</b></td>
    <td><b>SPECIAL MESS</b></td>
  </tr>

  <% hosteldata.bed_availability.forEach(function(bed) { %>
  <% const currentRoomDetails = roomdetailsdata ? roomdetailsdata.find(rd => rd.room_type === bed) : null; %>
    <tr>
      <!-- ROOM TYPE -->
      <td>
        <input type="text" class="form-control" value="<%= bed %>" readonly>
        <input type="hidden" name="room_type[]" value="<%= bed %>">
        <input type="hidden" name="room_detail_id[]" value="<%= currentRoomDetails ? currentRoomDetails.room_detail_id : '' %>">
        <input type="hidden" name="current_image[]" value="<%= currentRoomDetails && currentRoomDetails.image ? currentRoomDetails.image : '' %>">
        <input type="hidden" name="hostel_id" value="<%= hosteldata.hostel_id %>">
      </td>
          <!-- PRICE VEG -->
      <td>
        <% if (currentRoomDetails && currentRoomDetails.price_veg) { %>
          <input
            class="form-control"
            type="text"
            name="price_veg[]"
            value="<%= currentRoomDetails.price_veg %>"
            required
          >
        <% } else { %>
          <input class="form-control" type="text" name="price_veg[]" required>
        <% } %>
      </td>

      <!-- PRICE NON VEG -->
       <td>
        <% if (currentRoomDetails && currentRoomDetails.price_non_veg) { %>
          <input
            class="form-control"
            type="text"
              name="price_non_veg[]"
            value="<%= currentRoomDetails.price_non_veg %>"
            required
          >
        <% } else { %>
            <input class="form-control" type="text" name="price_non_veg[]" required>
        <% } %>
      </td>

      <!-- PRICE SPECIAL -->
        <td>
        <% if (currentRoomDetails && currentRoomDetails.price_special) { %>
          <input
            class="form-control"
            type="text"
            name="price_special[]"
            value="<%= currentRoomDetails.price_special %>"
            required
          >
        <% } else { %>
          <input class="form-control" type="text" name="price_special[]" required>
        <% } %>
      </td>

        <td>
        <% if (currentRoomDetails && currentRoomDetails.price_veg_nri) { %>
          <input
            class="form-control"
            type="text"
            name="price_veg_nri[]"
            value="<%= currentRoomDetails.price_veg_nri %>"
            required
          >
        <% } else { %>
          <input class="form-control" type="text" name="price_veg_nri[]" required>
        <% } %>
      </td>

        <td>
        <% if (currentRoomDetails && currentRoomDetails.price_non_veg_nri) { %>
          <input
            class="form-control"
            type="text"
            name="price_non_veg_nri[]"
            value="<%= currentRoomDetails.price_non_veg_nri %>"
            required
          >
        <% } else { %>
          <input class="form-control" type="text" name="price_non_veg_nri[]" required>
        <% } %>
      </td>

        <td>
        <% if (currentRoomDetails && currentRoomDetails.price_special_nri) { %>
          <input
            class="form-control"
            type="text"
            name="price_special_nri[]"
            value="<%= currentRoomDetails.price_special_nri %>"
            required
          >
        <% } else { %>
          <input class="form-control" type="text" name="price_special_nri[]" required>
        <% } %>
      </td>



      <!-- IMAGE -->
      <td>
        <% if (currentRoomDetails && currentRoomDetails.image ) { %>
          <input
            type="file"
name="images"            
class="form-control"
          >
          <br>
          <a href="<%=currentRoomDetails.image %>" target="_blank" class="btn btn-outline-primary"><i class="bi bi-eye-fill"></i> View Uploaded Image</a>
        <% } else { %>
           <input
            type="file"
name="images"            
class="form-control"
          >
        <% } %>
      </td>
    </tr>
  <% }) %>
</table>
<div class="mb-3">
  <input class="btn btn-primary" type="submit" value="Save All">
</div>
</form>


<h4>ROOMS</h4>
  <hr>
  <table class="table">
    <tbody>
      <thead>
        <tr>
         
          <th>ROOM NUMBER</th>
          <th>AIRTEL SPEED CONDITION</th>
          <th>JIO SPEED CONDITION</th>
          <th>VIT WIFI SPEED CONDITION</th>
          <th>CLEANLINESS</th>
          <th>REMARKS</th>
          <th>ACTION</th>
        </tr>
      </thead>
<% if(roomdata && roomdata.length>0){ %>
  <% roomdata.forEach(function(roomdata){%>
      <tr>
        <td><%=roomdata.room_number %></td>
        <td><%= roomdata.airtel_speed %></td>
        <td><%= roomdata.jio_speed %></td>
        <td><%= roomdata.vit_wifi_speed %></td>
        <td><%= roomdata.cleaniless_score %></td>

        <td><%= roomdata.remarks %></td>
        <td><a class="btn btn-outline-danger" href="/admin/delete-room/<%=roomdata.review_id%>"><i class="bi bi-trash3-fill"></i></a></td>
      
      </tr>
      <% }) %>
      <% } else { %>
        <tr><td colspan="6">No Room Data Available!</td></tr> <% } %>
      
    </tbody>
  </table>
  
</div>
<%- include('../partials/footer') %>
